- if (typeof notice != 'undefined' && notice != '')
  .container
    .row-fluid
      .span12
        .alert.alert-success
          = notice
    
- if (typeof error != 'undefined' && error != '')
  .container
    .row-fluid
      .span12
        .alert.alert-error
          = error
