- if (typeof notice != 'undefined' && notice != '')
  .alert.alert-success
    .container
      .row-fluid
        .span12
          = notice
    
- if (typeof error != 'undefined' && error != '')
  .alert.alert-error
    .container
      .row-fluid
        .span12
          = error