extends layout

block content

  article.question
    .container
      .row-fluid
        .span8
          header
            h1(data-fit-text="1.8")= "About Vote In Public"

          p
           | Vote In Public is an app for creating and consuming geo-spatial polls. It is designed to be an easy to use and completely free web app that lets you turn anywhere you can post a flyer into a mobile polling station. Enter a yes or no question and the app generates a poster with QR codes you can print out and stick anywhere*. People can use their phone to vote on your question from anywhere they find your poster.

          p
           | This is where it gets cool: the votes will be counted, along with their geospatial data. You don’t just know how many people voted yes or no, but from where. Figure out exactly where to set up your food truck, or locate concentrations of like-minded conspirators for when you launch your coup d’état. 
          p
           | *Posters are for external use only. Vote in Public accepts no responsibility. None. You could use this thing to threaten the stability of geo-political power structures and frankly we don’t want them to come crying to us.
          p
          p
           &nbsp;
          header
           h1(data-fit-text="4.0")= "Who created this?"
          p
           | Vote In Public was created during the 
           a(href="http://softwareniagara.com") Software Niagara 
           | Secret Hackathon hosted by 
           a(href="http://furi.ca/") Furi 
           | in November 2012. The team comprised of:
           ul
            li Dennis Ideler 
             a(href="http://twitter.com/dideler") @dideler
            li JF Amprimoz 
             a(href="http://twitter.com/SmallWebStrat") @SmallWebStrat
            li Michael Mottola 
             a(href="http://twitter.com/michael_mottola") @michael_mottola
            li Nickolas Kenyeres 
             a(href="http://twitter.com/knicklabs") @knicklabs
            li Thomas Madej 
             a(href="http://twitter.com/atomek") @atomek
            li Trevor Twining 
             a(href="http://twitter.com/trevortwining") @trevortwining
 
