extends layout

block content

  div(class="ask-question")
    h1= "What is your Question?"

    form(name="question", action="/questions", method="post", id="question_ask")
      input(type="name", name="question", class="span8 question")
      span(class="help-block")
        = "Must be a yes or no question"
      p
        button(class="btn btn-success btn-large")
          = "Ask your question"

  hr