extends layout

block content

  article.question
    .container
      .row-fluid
        .span12
          header
            h1(data-fit-text="1.4")= "What do you want to ask?"
      .row-fluid
        form(name="question", action="/questions", method="post", id="question_ask")
          .span10
            input(type="text", name="question", class="span12", maxlength="140")
          .span2
            button(class="btn btn-primary")
              = "Ask it!"
      .row-fluid
        .span8
          p
            em Must be a yes-or-no question limited to 140 characters.
