extends layout

block content

  article.question
    .container
      .row-fluid
        .span12
          header
            h1= "What do you want to ask?"
      .row-fluid
        form(name="question", action="/questions", method="post", id="question_ask")
          .span8
            input(type="text", name="question", class="span12", maxlength="140")
          .span4
            button(class="btn btn-primary")
              = "Ask it!"