doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    script(src='/libs/modernizr/modernizr.custom.22130.js')

    link(href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://code.jquery.com/jquery-1.8.2.min.js')
    script(src='/libs/fittext/jquery.fittext.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    script(src='/js/main.js')

    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') 
            = "Vote In Public"
          .nav-collapse.collapse
            ul.nav.pull-right
              li.active
                a(href='/') Home
              li
                a(href='/questions') Trending Questions 

    include shared/notices

    block content
