doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', href='/libs/bootstrap/js/bootstrap.min.js')
  body
    div(class="container")
      block content