doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.8.2.min.js')
    script(type='text/javascript', href='/libs/bootstrap/js/bootstrap.min.js')
    block head

  body

    div(class="container-narrow")
      div(class="masthead")
        ul(class="nav nav-pills pull-right")
          li(class="active")
            a(href="/")
              = "Home"
        h3(class="muted")
          = "Poll App"
      hr

    div(class="container")

      include shared/_notices

      block content
