/* Color & style constants */
pollapp_black = #262626;
pollapp_red = #964B46;
pollapp_green = #4B9646;
pollapp_blue = #224E98;
pollapp_light_blue = #BDCAE0;

body {
  background: white;
  padding: 80px 25px 20px 25px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

a {
  color: #00B7FF
}

.btn.btn-primary {
  background: linear-gradient(lighten(pollapp_black, 15%), pollapp_black);
}

/* Top Navbar style */
.navbar.navbar-inverse {
  margin-bottom: 0;

	.navbar-inner {
    border-radius(0);
		background: linear-gradient(lighten(pollapp_blue, 5%), pollapp_blue);
	}
	
	.brand {
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	}
	
	.nav-collapse .nav li {		
		a {
			color: pollapp_light_blue;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
			
			&:hover {
				color: white;
				background-color: transparent;
			}	
		}
		
		&.active {
			a {
				background-color: darken(pollapp_blue, 5%);
				
				&:hover {
					background-color: darken(pollapp_blue, 5%);
				}
			}
		}
	}
	
	.btn-navbar {
		background: linear-gradient(darken(pollapp_blue, 5%), darken(pollapp_blue, 15%));
	}
}

@media (min-width: 980px) {
	.navbar.navbar-inverse {
		.brand {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.nav-collapse .nav > li > a {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

/* Alerts */
.alert {
  border-radius(0);
  margin-bottom: 0;

  .span12 {
    min-height: 20px;
  }
}

/* The Big Question */
article.question {
  padding: 90px 0;

  header {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Crete Round', serif;
      font-size: 5em;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin-bottom: 30px;
    }
  }

  form {
    input, button {
      font-size: 2em;
      padding-top: 1em;
      padding-bottom: 1em;
      line-height: 1em;
      height: 1em;
    }

    button {
      width: 100%;
      padding: .5em 0;
      vertical-align: top;
      height: auto;
    }
  }
}

@media(max-width: 767px) {
  article.question {
    margin: 0 -20px;
    padding: 20px;

    header {
      h1, h2, h3, h4, h5, h6 {
        font-size: 3em;
      }
    }
  }
}

/* Map */
#map {
  height: 500px;
  
  img {
    max-width: none;
  }
}
 
/* Results graph */
ul.answer_graph
  margin: 0
  padding: 0
  position: relative

ul.answer_graph {
  margin: 0;
  padding: 0;
  position: relative;
  
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left
    
    h2 {
      padding: .5em;
      color: white;
    }
    
    &.yes {
      left: 0;
      h2 {
        background: linear-gradient(lighten(pollapp_green, 10%), pollapp_green);
      }
    }
    
    &.no {
      right: 0;
      text-align: right;
      h2 {
        background: linear-gradient(lighten(pollapp_red, 10%), pollapp_red);
      }
    }
  }
}

/* Google Map */
body.glayout {
  article.result {
    #map {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 40px;
      height: auto;
      width: auto;
    }
    
    header {
      position: absolute;
      top: 120px;
      right: 5px;
      width: auto;
      max-width: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
    
      h1 {
        font-size: 4em;
        font-weight: bold;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
    }
    
    footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: auto;
      
      ul.answer_graph {
        h2 {
          font-size: 1em;
          margin: 0 0 0 0;
        }
      }
    }
  }
}
  

.ask-question {
  text-align: center;

  h1 {
    font-size: 72px;
    line-height: 1;
  }
}

.overlay {
	display: none;
	font-size: 10pt;
}

.ol-overlaycontainer .overlay {
	display: block;
}
#vienna {
	text-decoration: none;
	color: white;
	font-size: 11pt;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#popup {
	width: 200px;
	margin-left: -107px;
	margin-bottom: 12px;
	border-radius: 5px;
	padding: 5px;
}


/* Popup CSS generated with http://cssarrowplease.com/ */

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}
