extends ../layout

block content

  div(class="row")
    div(class="span12")
      h1= question.value

      h2= "Results"
      ul
        each answer in answers
          li
            = answer.value + "(" + answer.coordinates[0] + ", " + answer.coordinates[1] + ")"
