extends ../layout

block head
  script(src='/libs/openlayers/build/ol.js')
  script(src='/js/map.js')
  link(rel='stylesheet', href='/libs/openlayers/build/ol.css', type='text/css')

block content
  .row
    .map-title
      p This is the map
    .map
      div(id="map")
