extends ../layout

block content

  .container
    .page-header
      .row-fluid
        .span8
          h1= "Trending Answers"
        .span4
          a(href="/", class="btn")= "Ask your own question"
    .row-fluid
      .span12
        ul.nav.nav-tabs.nav-stacked
          each question in questions
            li
              a(href="/results/#{question.id}")
                .row-fluid
                  .span8
                    = question.value
                  .span4
                    = question.numAnswers
                    = (question.numAnswers == 1) ? " vote" : " votes"
