extends ../layout

block content

  div(class="row")
    div(class="span12")
      h1= "Recently asked questions"

      ul
        each question in questions
          li
            a(href="/questions/#{question.id}")
              = question.value