extends ../layout

block content

  div(class="container")
    div(class="row-fluid")
      div(class="span12")
        h1= "Recently asked questions"

        ul.nav.nav-tabs.nav-stacked
          each question in questions
            li
              a(href="/questions/#{question.id}")
                = question.value
